@model int
@if (Model > 0)
{
    <span class="ml-1 inline-flex h-4 min-w-[1rem] items-center justify-center rounded-full bg-red-500 px-1 text-xs font-bold text-white">
        @(Model > 9 ? "9+" : Model.ToString())
    </span>
}
